@font-face {
    font-family: "Figtree";
    src: url("assets/fonts/static/Figtree-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 900;
    font-style: normal;
} 
*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
}
body{
    background-color: hsl(47, 88%, 63%);  
    font-family: "Figtree", sans-serif ;
}
.preview{
    min-height: 100vh;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;
}
.blog{
    background-color:hsl(0, 0%, 100%);
    width:90%;
    max-width: 22rem;
    padding: 1rem;
    border-radius: 1.25rem;
    margin:0 auto; 
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 8px 8px 0 hsl(0, 0%, 7%);      
}
.blogimg{
    background-color: hsl(218, 44%, 22%);
    border-radius: 12px;
    overflow: hidden;
}
.blogimg img{
        width:100%;
        display: block;
}
.blog .btn{
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;  
    margin-top: 8px;
    margin-bottom: 10px;
    border: none;
    display: inline-block;
    padding: 0.35rem 0.75rem;
    border-radius: 4px;     
}
a {
    text-decoration: none;
    margin:0 auto;
}
h2 a{
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    font-size: 1.25rem;
}
h2 a:hover{
    color:  hsl(47, 88%, 63%);
    cursor:pointer;
}
p{
    text-align: left;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 10px;
}
p.one{
    color: hsl(0, 0%, 7%);
}
p.two{
    margin-top: 10px;
    color:hsl(0, 0%, 42%);
}
.author {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
  }  
.author img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  } 
.author span {
    font-weight: 800;
    font-size: 14px;
    color: hsl(0, 0%, 7%);
  }
